{% extends 'base.html' %}
{% block title %} hello about template{% endblock title %}
{% block aboutactive %}active{% endblock %}
{% block body %}
<div class="mt-3 ml-4 mr-4 mb-4 p-4">
    <div class="mb-3">
        <div class="h3">
            This is icoder blog
        </div>
        <div>
            AI- driven personalised, curation service for quality programming content.
        </div>
        <div>
            A platform for developers, that provides you with a personalised curation service on programming topics. Use
            it
            to write and read quality articles on programming. Not for content-marketing disguised as programming
            tutorials.
            Not for advertisement blended with sincerely interesting pieces. Quality. Articles. About. coding
        </div>
    </div>
    <hr>
    <div class="mb-3">

        <div>
            <span class="h3">Today,</span> it feels like most articles are trying to sell you something. They are, as they cannot reach you for
            free. Curators like Medium need to put work into ensuring you get the articles you would enjoy. To
            compensate,
            they either put the content behind paywalls or shift the costs to the authors. They also curate with only
            the
            content available on their platform.
        </div>
        <div>
            However, there is a tonne of content out there. The problem is finding truly insightful pieces based on your
            personal needs is time-consuming.
        </div>
        <div>
            Today, it feels like most articles are trying to sell you something. They are, as they cannot reach you for
            free.
        </div>
    </div>
    <hr>

    <div class="mb-3">
        <div>
            <span class="h3"> Tomorrow ...</span>
        </div>
        <div class="mt-2">
            With icoder blog, we want to change that.
            We want quality writings on coding blog to be freely available to everyone. We want to empower authors to
            write
            elegant, modern coding blogs while retaining ownership of their work. The software community has thrived on
            sharing openly and honestly. This is how we should move forward.

        </div>
    </div>
    <hr>
    <div>
        <div>
            <span class="h3"> How?</span>
        </div>
        <div class="mt-2">
            icoder blog will make every article available for free. Our curation service will not be restricted to
            articles
            published only on our platform but will curate from a pool of all freely accessible articles.

            icoder blog will offer personalised curated lists based on your needs. We will charge a small monthly fee
            for
            this. Curation is never really free, but with transparent direct pricing, it can become free of content that
            is
            there only to convince you to buy something, leaving only content that you would truly enjoy.

            icoder blog will provide an open-source toolchain for building elegant blogs, offering the convenience of
            platforms like Medium, rich features specifically designed for writing about programming, and
            customizability
            that only comes with open-source tools.

            icoder blog will pull new content from git repos maintained by authors, build them using the same toolchain,
            publish them and queue them for curation. In other words, the authors retain full control and ownership over
            their work.

            If you are curious about how will icoder blog work for creators and authors, checkout this section of the
            "For
            Creators" page. Note that icoder blog is still in early development stages and these details might change as
            we
            better figure out what works and what doesn't.
        </div>
    </div>

</div>
{% endblock body %}