{% extends 'base.html' %}
{% block title %} hometemplate{% endblock title %}
{% block homeactive %}active{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center" >This is <i><u>Icoder</u></i></h1>
        <p class="lead">A platform for developers, that provides you with a personalised curation service on programming topics. Use it to write and read quality articles on programming. Not for content-marketing disguised as programming tutorials. Not for advertisement blended with sincerely interesting pieces. </p>
        <hr class="my-4">
        <p>Quality. Articles. About. Coding</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/blog/" role="button">Blog</a>
        </p>
    </div>
</div>
<!-- 
<div class="container">
    <h1>Read our popular blogposts</h1>
    <div class="col-md-6 p-0">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>

        </div>
    </div>
</div> -->


{% endblock body %}