{% extends 'base.html' %}
{% block title %} home blog template{% endblock title %}
{% block blogactive %}active{% endblock %}
{% block body %}

<div class="container" >
    <h1 class="mt-5 mb-3 my-3 ml-2 text-center ">Coding articles by icoder</h1>

    {% for post in allposts %}

    <div class=" ml-0 mr-1 mb-2" >
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"> <a href="{{post.slug}}" >{{post.title}}</a></strong>
                <h3 class="mb-0">by {{post.author}} on {{post.timestamp}}</h3>
                
                <p class="card-text mb-auto">{{post.content|truncatechars:7}}</p>

                <div>
                    <a href="{{post.slug}}" role="button" class="btn btn-primary btn-lg-sm mt-2">Continue reading</a>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>





{% endblock body %}